:root {
    --dark-tomato-1: #181111;
    --dark-tomato-2: #1f1513;
    --dark-tomato-3: #391714;
    --dark-tomato-4: #4e1511;
    --dark-tomato-5: #5e1c16;
    --dark-tomato-6: #6e2920;
    --dark-tomato-7: #853a2d;
    --dark-tomato-8: #ac4d39;
    --dark-tomato-9: #e54d2e;
    --dark-tomato-10: #ec6142;
    --dark-tomato-11: #ff977d;
    --dark-tomato-12: #fbd3cb;
    --dark-tomato-a1: #f1121208;
    --dark-tomato-a2: #ff55330f;
    --dark-tomato-a3: #ff35232b;
    --dark-tomato-a4: #fd201142;
    --dark-tomato-a5: #fe332153;
    --dark-tomato-a6: #ff4f3864;
    --dark-tomato-a7: #fd644a7d;
    --dark-tomato-a8: #fe6d4ea7;
    --dark-tomato-a9: #fe5431e4;
    --dark-tomato-a10: #ff6847eb;
    --dark-tomato-a11: #ff977d;
    --dark-tomato-a12: #ffd6cefb;
    --dark-red-1: #191111;
    --dark-red-2: #201314;
    --dark-red-3: #3b1219;
    --dark-red-4: #500f1c;
    --dark-red-5: #611623;
    --dark-red-6: #72232d;
    --dark-red-7: #8c333a;
    --dark-red-8: #b54548;
    --dark-red-9: #e5484d;
    --dark-red-10: #ec5d5e;
    --dark-red-11: #ff9592;
    --dark-red-12: #ffd1d9;
    --dark-red-a1: #f4121209;
    --dark-red-a2: #f22f3e11;
    --dark-red-a3: #ff173f2d;
    --dark-red-a4: #fe0a3b44;
    --dark-red-a5: #ff204756;
    --dark-red-a6: #ff3e5668;
    --dark-red-a7: #ff536184;
    --dark-red-a8: #ff5d61b0;
    --dark-red-a9: #fe4e54e4;
    --dark-red-a10: #ff6465eb;
    --dark-red-a11: #ff9592;
    --dark-red-a12: #ffd1d9;
    --dark-ruby-1: #191113;
    --dark-ruby-2: #1e1517;
    --dark-ruby-3: #3a141e;
    --dark-ruby-4: #4e1325;
    --dark-ruby-5: #5e1a2e;
    --dark-ruby-6: #6f2539;
    --dark-ruby-7: #883447;
    --dark-ruby-8: #b3445a;
    --dark-ruby-9: #e54666;
    --dark-ruby-10: #ec5a72;
    --dark-ruby-11: #ff949d;
    --dark-ruby-12: #fed2e1;
    --dark-ruby-a1: #f4124a09;
    --dark-ruby-a2: #fe5a7f0e;
    --dark-ruby-a3: #ff235d2c;
    --dark-ruby-a4: #fd195e42;
    --dark-ruby-a5: #fe2d6b53;
    --dark-ruby-a6: #ff447665;
    --dark-ruby-a7: #ff577d80;
    --dark-ruby-a8: #ff5c7cae;
    --dark-ruby-a9: #fe4c70e4;
    --dark-ruby-a10: #ff617beb;
    --dark-ruby-a11: #ff949d;
    --dark-ruby-a12: #ffd3e2fe;
    --dark-crimson-1: #191114;
    --dark-crimson-2: #201318;
    --dark-crimson-3: #381525;
    --dark-crimson-4: #4d122f;
    --dark-crimson-5: #5c1839;
    --dark-crimson-6: #6d2545;
    --dark-crimson-7: #873356;
    --dark-crimson-8: #b0436e;
    --dark-crimson-9: #e93d82;
    --dark-crimson-10: #ee518a;
    --dark-crimson-11: #ff92ad;
    --dark-crimson-12: #fdd3e8;
    --dark-crimson-a1: #f4126709;
    --dark-crimson-a2: #f22f7a11;
    --dark-crimson-a3: #fe2a8b2a;
    --dark-crimson-a4: #fd158741;
    --dark-crimson-a5: #fd278f51;
    --dark-crimson-a6: #fe459763;
    --dark-crimson-a7: #fd559b7f;
    --dark-crimson-a8: #fe5b9bab;
    --dark-crimson-a9: #fe418de8;
    --dark-crimson-a10: #ff5693ed;
    --dark-crimson-a11: #ff92ad;
    --dark-crimson-a12: #ffd5eafd;
    --dark-pink-1: #191117;
    --dark-pink-2: #21121d;
    --dark-pink-3: #37172f;
    --dark-pink-4: #4b143d;
    --dark-pink-5: #591c47;
    --dark-pink-6: #692955;
    --dark-pink-7: #833869;
    --dark-pink-8: #a84885;
    --dark-pink-9: #d6409f;
    --dark-pink-10: #de51a8;
    --dark-pink-11: #ff8dcc;
    --dark-pink-12: #fdd1ea;
    --dark-pink-a1: #f412bc09;
    --dark-pink-a2: #f420bb12;
    --dark-pink-a3: #fe37cc29;
    --dark-pink-a4: #fc1ec43f;
    --dark-pink-a5: #fd35c24e;
    --dark-pink-a6: #fd51c75f;
    --dark-pink-a7: #fd62c87b;
    --dark-pink-a8: #ff68c8a2;
    --dark-pink-a9: #fe49bcd4;
    --dark-pink-a10: #ff5cc0dc;
    --dark-pink-a11: #ff8dcc;
    --dark-pink-a12: #ffd3ecfd;
    --dark-plum-1: #181118;
    --dark-plum-2: #201320;
    --dark-plum-3: #351a35;
    --dark-plum-4: #451d47;
    --dark-plum-5: #512454;
    --dark-plum-6: #5e3061;
    --dark-plum-7: #734079;
    --dark-plum-8: #92549c;
    --dark-plum-9: #ab4aba;
    --dark-plum-10: #b658c4;
    --dark-plum-11: #e796f3;
    --dark-plum-12: #f4d4f4;
    --dark-plum-a1: #f112f108;
    --dark-plum-a2: #f22ff211;
    --dark-plum-a3: #fd4cfd27;
    --dark-plum-a4: #f646ff3a;
    --dark-plum-a5: #f455ff48;
    --dark-plum-a6: #f66dff56;
    --dark-plum-a7: #f07cfd70;
    --dark-plum-a8: #ee84ff95;
    --dark-plum-a9: #e961feb6;
    --dark-plum-a10: #ed70ffc0;
    --dark-plum-a11: #f19cfef3;
    --dark-plum-a12: #feddfef4;
    --dark-purple-1: #18111b;
    --dark-purple-2: #1e1523;
    --dark-purple-3: #301c3b;
    --dark-purple-4: #3d224e;
    --dark-purple-5: #48295c;
    --dark-purple-6: #54346b;
    --dark-purple-7: #664282;
    --dark-purple-8: #8457aa;
    --dark-purple-9: #8e4ec6;
    --dark-purple-10: #9a5cd0;
    --dark-purple-11: #d19dff;
    --dark-purple-12: #ecd9fa;
    --dark-purple-a1: #b412f90b;
    --dark-purple-a2: #b744f714;
    --dark-purple-a3: #c150ff2d;
    --dark-purple-a4: #bb53fd42;
    --dark-purple-a5: #be5cfd51;
    --dark-purple-a6: #c16dfd61;
    --dark-purple-a7: #c378fd7a;
    --dark-purple-a8: #c47effa4;
    --dark-purple-a9: #b661ffc2;
    --dark-purple-a10: #bc6fffcd;
    --dark-purple-a11: #d19dff;
    --dark-purple-a12: #f1ddfffa;
    --dark-violet-1: #14121f;
    --dark-violet-2: #1b1525;
    --dark-violet-3: #291f43;
    --dark-violet-4: #33255b;
    --dark-violet-5: #3c2e69;
    --dark-violet-6: #473876;
    --dark-violet-7: #56468b;
    --dark-violet-8: #6958ad;
    --dark-violet-9: #6e56cf;
    --dark-violet-10: #7d66d9;
    --dark-violet-11: #baa7ff;
    --dark-violet-12: #e2ddfe;
    --dark-violet-a1: #4422ff0f;
    --dark-violet-a2: #853ff916;
    --dark-violet-a3: #8354fe36;
    --dark-violet-a4: #7d51fd50;
    --dark-violet-a5: #845ffd5f;
    --dark-violet-a6: #8f6cfd6d;
    --dark-violet-a7: #9879ff83;
    --dark-violet-a8: #977dfea8;
    --dark-violet-a9: #8668ffcc;
    --dark-violet-a10: #9176fed7;
    --dark-violet-a11: #baa7ff;
    --dark-violet-a12: #e3defffe;
    --dark-iris-1: #13131e;
    --dark-iris-2: #171625;
    --dark-iris-3: #202248;
    --dark-iris-4: #262a65;
    --dark-iris-5: #303374;
    --dark-iris-6: #3d3e82;
    --dark-iris-7: #4a4a95;
    --dark-iris-8: #5958b1;
    --dark-iris-9: #5b5bd6;
    --dark-iris-10: #6e6ade;
    --dark-iris-11: #b1a9ff;
    --dark-iris-12: #e0dffe;
    --dark-iris-a1: #3636fe0e;
    --dark-iris-a2: #564bf916;
    --dark-iris-a3: #525bff3b;
    --dark-iris-a4: #4d58ff5a;
    --dark-iris-a5: #5b62fd6b;
    --dark-iris-a6: #6d6ffd7a;
    --dark-iris-a7: #7777fe8e;
    --dark-iris-a8: #7b7afeac;
    --dark-iris-a9: #6a6afed4;
    --dark-iris-a10: #7d79ffdc;
    --dark-iris-a11: #b1a9ff;
    --dark-iris-a12: #e1e0fffe;
    --dark-indigo-1: #11131f;
    --dark-indigo-2: #141726;
    --dark-indigo-3: #182449;
    --dark-indigo-4: #1d2e62;
    --dark-indigo-5: #253974;
    --dark-indigo-6: #304384;
    --dark-indigo-7: #3a4f97;
    --dark-indigo-8: #435db1;
    --dark-indigo-9: #3e63dd;
    --dark-indigo-10: #5472e4;
    --dark-indigo-11: #9eb1ff;
    --dark-indigo-12: #d6e1ff;
    --dark-indigo-a1: #1133ff0f;
    --dark-indigo-a2: #3354fa17;
    --dark-indigo-a3: #2f62ff3c;
    --dark-indigo-a4: #3566ff57;
    --dark-indigo-a5: #4171fd6b;
    --dark-indigo-a6: #5178fd7c;
    --dark-indigo-a7: #5a7fff90;
    --dark-indigo-a8: #5b81feac;
    --dark-indigo-a9: #4671ffdb;
    --dark-indigo-a10: #5c7efee3;
    --dark-indigo-a11: #9eb1ff;
    --dark-indigo-a12: #d6e1ff;
    --dark-blue-1: #0d1520;
    --dark-blue-2: #111927;
    --dark-blue-3: #0d2847;
    --dark-blue-4: #003362;
    --dark-blue-5: #004074;
    --dark-blue-6: #104d87;
    --dark-blue-7: #205d9e;
    --dark-blue-8: #2870bd;
    --dark-blue-9: #0090ff;
    --dark-blue-10: #3b9eff;
    --dark-blue-11: #70b8ff;
    --dark-blue-12: #c2e6ff;
    --dark-blue-a1: #004df211;
    --dark-blue-a2: #1166fb18;
    --dark-blue-a3: #0077ff3a;
    --dark-blue-a4: #0075ff57;
    --dark-blue-a5: #0081fd6b;
    --dark-blue-a6: #0f89fd7f;
    --dark-blue-a7: #2a91fe98;
    --dark-blue-a8: #3094feb9;
    --dark-blue-a9: #0090ff;
    --dark-blue-a10: #3b9eff;
    --dark-blue-a11: #70b8ff;
    --dark-blue-a12: #c2e6ff;
    --dark-cyan-1: #0b161a;
    --dark-cyan-2: #101b20;
    --dark-cyan-3: #082c36;
    --dark-cyan-4: #003848;
    --dark-cyan-5: #004558;
    --dark-cyan-6: #045468;
    --dark-cyan-7: #12677e;
    --dark-cyan-8: #11809c;
    --dark-cyan-9: #00a2c7;
    --dark-cyan-10: #23afd0;
    --dark-cyan-11: #4ccce6;
    --dark-cyan-12: #b6ecf7;
    --dark-cyan-a1: #0091f70a;
    --dark-cyan-a2: #02a7f211;
    --dark-cyan-a3: #00befd28;
    --dark-cyan-a4: #00baff3b;
    --dark-cyan-a5: #00befd4d;
    --dark-cyan-a6: #00c7fd5e;
    --dark-cyan-a7: #14cdff75;
    --dark-cyan-a8: #11cfff95;
    --dark-cyan-a9: #00cfffc3;
    --dark-cyan-a10: #28d6ffcd;
    --dark-cyan-a11: #52e1fee5;
    --dark-cyan-a12: #bbf3fef7;
    --dark-teal-1: #0d1514;
    --dark-teal-2: #111c1b;
    --dark-teal-3: #0d2d2a;
    --dark-teal-4: #023b37;
    --dark-teal-5: #084843;
    --dark-teal-6: #145750;
    --dark-teal-7: #1c6961;
    --dark-teal-8: #207e73;
    --dark-teal-9: #12a594;
    --dark-teal-10: #0eb39e;
    --dark-teal-11: #0bd8b6;
    --dark-teal-12: #adf0dd;
    --dark-teal-a1: #00deab05;
    --dark-teal-a2: #12fbe60c;
    --dark-teal-a3: #00ffe61e;
    --dark-teal-a4: #00ffe92d;
    --dark-teal-a5: #00ffea3b;
    --dark-teal-a6: #1cffe84b;
    --dark-teal-a7: #2efde85f;
    --dark-teal-a8: #32ffe775;
    --dark-teal-a9: #13ffe49f;
    --dark-teal-a10: #0dffe0ae;
    --dark-teal-a11: #0afed5d6;
    --dark-teal-a12: #b8ffebef;
    --dark-jade-1: #0d1512;
    --dark-jade-2: #121c18;
    --dark-jade-3: #0f2e22;
    --dark-jade-4: #0b3b2c;
    --dark-jade-5: #114837;
    --dark-jade-6: #1b5745;
    --dark-jade-7: #246854;
    --dark-jade-8: #2a7e68;
    --dark-jade-9: #29a383;
    --dark-jade-10: #27b08b;
    --dark-jade-11: #1fd8a4;
    --dark-jade-12: #adf0d4;
    --dark-jade-a1: #00de4505;
    --dark-jade-a2: #27fba60c;
    --dark-jade-a3: #02f99920;
    --dark-jade-a4: #00ffaa2d;
    --dark-jade-a5: #11ffb63b;
    --dark-jade-a6: #34ffc24b;
    --dark-jade-a7: #45fdc75e;
    --dark-jade-a8: #48ffcf75;
    --dark-jade-a9: #38feca9d;
    --dark-jade-a10: #31fec7ab;
    --dark-jade-a11: #21fec0d6;
    --dark-jade-a12: #b8ffe1ef;
    --dark-green-1: #0e1512;
    --dark-green-2: #121b17;
    --dark-green-3: #132d21;
    --dark-green-4: #113b29;
    --dark-green-5: #174933;
    --dark-green-6: #20573e;
    --dark-green-7: #28684a;
    --dark-green-8: #2f7c57;
    --dark-green-9: #30a46c;
    --dark-green-10: #33b074;
    --dark-green-11: #3dd68c;
    --dark-green-12: #b1f1cb;
    --dark-green-a1: #00de4505;
    --dark-green-a2: #29f99d0b;
    --dark-green-a3: #22ff991e;
    --dark-green-a4: #11ff992d;
    --dark-green-a5: #2bffa23c;
    --dark-green-a6: #44ffaa4b;
    --dark-green-a7: #50fdac5e;
    --dark-green-a8: #54ffad73;
    --dark-green-a9: #44ffa49e;
    --dark-green-a10: #43fea4ab;
    --dark-green-a11: #46fea5d4;
    --dark-green-a12: #bbffd7f0;
    --dark-grass-1: #0e1511;
    --dark-grass-2: #141a15;
    --dark-grass-3: #1b2a1e;
    --dark-grass-4: #1d3a24;
    --dark-grass-5: #25482d;
    --dark-grass-6: #2d5736;
    --dark-grass-7: #366740;
    --dark-grass-8: #3e7949;
    --dark-grass-9: #46a758;
    --dark-grass-10: #53b365;
    --dark-grass-11: #71d083;
    --dark-grass-12: #c2f0c2;
    --dark-grass-a1: #00de1205;
    --dark-grass-a2: #5ef7780a;
    --dark-grass-a3: #70fe8c1b;
    --dark-grass-a4: #57ff802c;
    --dark-grass-a5: #68ff8b3b;
    --dark-grass-a6: #71ff8f4b;
    --dark-grass-a7: #77fd925d;
    --dark-grass-a8: #77fd9070;
    --dark-grass-a9: #65ff82a1;
    --dark-grass-a10: #72ff8dae;
    --dark-grass-a11: #89ff9fcd;
    --dark-grass-a12: #ceffceef;
    --dark-orange-1: #17120e;
    --dark-orange-2: #1e160f;
    --dark-orange-3: #331e0b;
    --dark-orange-4: #462100;
    --dark-orange-5: #562800;
    --dark-orange-6: #66350c;
    --dark-orange-7: #7e451d;
    --dark-orange-8: #a35829;
    --dark-orange-9: #f76b15;
    --dark-orange-10: #ff801f;
    --dark-orange-11: #ffa057;
    --dark-orange-12: #ffe0c2;
    --dark-orange-a1: #ec360007;
    --dark-orange-a2: #fe6d000e;
    --dark-orange-a3: #fb6a0025;
    --dark-orange-a4: #ff590039;
    --dark-orange-a5: #ff61004a;
    --dark-orange-a6: #fd75045c;
    --dark-orange-a7: #ff832c75;
    --dark-orange-a8: #fe84389d;
    --dark-orange-a9: #fe6d15f7;
    --dark-orange-a10: #ff801f;
    --dark-orange-a11: #ffa057;
    --dark-orange-a12: #ffe0c2;
    --dark-brown-1: #12110f;
    --dark-brown-2: #1c1816;
    --dark-brown-3: #28211d;
    --dark-brown-4: #322922;
    --dark-brown-5: #3e3128;
    --dark-brown-6: #4d3c2f;
    --dark-brown-7: #614a39;
    --dark-brown-8: #7c5f46;
    --dark-brown-9: #ad7f58;
    --dark-brown-10: #b88c67;
    --dark-brown-11: #dbb594;
    --dark-brown-12: #f2e1ca;
    --dark-brown-a1: #91110002;
    --dark-brown-a2: #fba67c0c;
    --dark-brown-a3: #fcb58c19;
    --dark-brown-a4: #fbbb8a24;
    --dark-brown-a5: #fcb88931;
    --dark-brown-a6: #fdba8741;
    --dark-brown-a7: #ffbb8856;
    --dark-brown-a8: #ffbe8773;
    --dark-brown-a9: #feb87da8;
    --dark-brown-a10: #ffc18cb3;
    --dark-brown-a11: #fed1aad9;
    --dark-brown-a12: #feecd4f2;
    --dark-sky-1: #0d141f;
    --dark-sky-2: #111a27;
    --dark-sky-3: #112840;
    --dark-sky-4: #113555;
    --dark-sky-5: #154467;
    --dark-sky-6: #1b537b;
    --dark-sky-7: #1f6692;
    --dark-sky-8: #197cae;
    --dark-sky-9: #7ce2fe;
    --dark-sky-10: #a8eeff;
    --dark-sky-11: #75c7f0;
    --dark-sky-12: #c2f3ff;
    --dark-sky-a1: #0044ff0f;
    --dark-sky-a2: #1171fb18;
    --dark-sky-a3: #1184fc33;
    --dark-sky-a4: #128fff49;
    --dark-sky-a5: #1c9dfd5d;
    --dark-sky-a6: #28a5ff72;
    --dark-sky-a7: #2badfe8b;
    --dark-sky-a8: #1db2fea9;
    --dark-sky-a9: #7ce3fffe;
    --dark-sky-a10: #a8eeff;
    --dark-sky-a11: #7cd3ffef;
    --dark-sky-a12: #c2f3ff;
    --dark-mint-1: #0e1515;
    --dark-mint-2: #0f1b1b;
    --dark-mint-3: #092c2b;
    --dark-mint-4: #003a38;
    --dark-mint-5: #004744;
    --dark-mint-6: #105650;
    --dark-mint-7: #1e685f;
    --dark-mint-8: #277f70;
    --dark-mint-9: #86ead4;
    --dark-mint-10: #a8f5e5;
    --dark-mint-11: #58d5ba;
    --dark-mint-12: #c4f5e1;
    --dark-mint-a1: #00dede05;
    --dark-mint-a2: #00f9f90b;
    --dark-mint-a3: #00fff61d;
    --dark-mint-a4: #00fff42c;
    --dark-mint-a5: #00fff23a;
    --dark-mint-a6: #0effeb4a;
    --dark-mint-a7: #34fde55e;
    --dark-mint-a8: #41ffdf76;
    --dark-mint-a9: #92ffe7e9;
    --dark-mint-a10: #aefeedf5;
    --dark-mint-a11: #67ffded2;
    --dark-mint-a12: #cbfee9f5;
    --dark-lime-1: #11130c;
    --dark-lime-2: #151a10;
    --dark-lime-3: #1f2917;
    --dark-lime-4: #29371d;
    --dark-lime-5: #334423;
    --dark-lime-6: #3d522a;
    --dark-lime-7: #496231;
    --dark-lime-8: #577538;
    --dark-lime-9: #bdee63;
    --dark-lime-10: #d4ff70;
    --dark-lime-11: #bde56c;
    --dark-lime-12: #e3f7ba;
    --dark-lime-a1: #11bb0003;
    --dark-lime-a2: #78f7000a;
    --dark-lime-a3: #9bfd4c1a;
    --dark-lime-a4: #a7fe5c29;
    --dark-lime-a5: #affe6537;
    --dark-lime-a6: #b2fe6d46;
    --dark-lime-a7: #b6ff6f57;
    --dark-lime-a8: #b6fd6d6c;
    --dark-lime-a9: #caff69ed;
    --dark-lime-a10: #d4ff70;
    --dark-lime-a11: #d1fe77e4;
    --dark-lime-a12: #e9febff7;
    --dark-yellow-1: #14120b;
    --dark-yellow-2: #1b180f;
    --dark-yellow-3: #2d2305;
    --dark-yellow-4: #362b00;
    --dark-yellow-5: #433500;
    --dark-yellow-6: #524202;
    --dark-yellow-7: #665417;
    --dark-yellow-8: #836a21;
    --dark-yellow-9: #ffe629;
    --dark-yellow-10: #ffff57;
    --dark-yellow-11: #f5e147;
    --dark-yellow-12: #f6eeb4;
    --dark-yellow-a1: #d1510004;
    --dark-yellow-a2: #f9b4000b;
    --dark-yellow-a3: #ffaa001e;
    --dark-yellow-a4: #fdb70028;
    --dark-yellow-a5: #febb0036;
    --dark-yellow-a6: #fec40046;
    --dark-yellow-a7: #fdcb225c;
    --dark-yellow-a8: #fdca327b;
    --dark-yellow-a9: #ffe629;
    --dark-yellow-a10: #ffff57;
    --dark-yellow-a11: #fee949f5;
    --dark-yellow-a12: #fef6baf6;
    --dark-amber-1: #16120c;
    --dark-amber-2: #1d180f;
    --dark-amber-3: #302008;
    --dark-amber-4: #3f2700;
    --dark-amber-5: #4d3000;
    --dark-amber-6: #5c3d05;
    --dark-amber-7: #714f19;
    --dark-amber-8: #8f6424;
    --dark-amber-9: #ffc53d;
    --dark-amber-10: #ffd60a;
    --dark-amber-11: #ffca16;
    --dark-amber-12: #ffe7b3;
    --dark-amber-a1: #e63c0006;
    --dark-amber-a2: #fd9b000d;
    --dark-amber-a3: #fa820022;
    --dark-amber-a4: #fc820032;
    --dark-amber-a5: #fd8b0041;
    --dark-amber-a6: #fd9b0051;
    --dark-amber-a7: #ffab2567;
    --dark-amber-a8: #ffae3587;
    --dark-amber-a9: #ffc53d;
    --dark-amber-a10: #ffd60a;
    --dark-amber-a11: #ffca16;
    --dark-amber-a12: #ffe7b3;
    --dark-gold-1: #121211;
    --dark-gold-2: #1b1a17;
    --dark-gold-3: #24231f;
    --dark-gold-4: #2d2b26;
    --dark-gold-5: #38352e;
    --dark-gold-6: #444039;
    --dark-gold-7: #544f46;
    --dark-gold-8: #696256;
    --dark-gold-9: #978365;
    --dark-gold-10: #a39073;
    --dark-gold-11: #cbb99f;
    --dark-gold-12: #e8e2d9;
    --dark-gold-a1: #91911102;
    --dark-gold-a2: #f9e29d0b;
    --dark-gold-a3: #f8ecbb15;
    --dark-gold-a4: #ffeec41e;
    --dark-gold-a5: #feecc22a;
    --dark-gold-a6: #feebcb37;
    --dark-gold-a7: #ffedcd48;
    --dark-gold-a8: #fdeaca5f;
    --dark-gold-a9: #ffdba690;
    --dark-gold-a10: #fedfb09d;
    --dark-gold-a11: #fee7c6c8;
    --dark-gold-a12: #fef7ede7;
    --dark-bronze-1: #141110;
    --dark-bronze-2: #1c1917;
    --dark-bronze-3: #262220;
    --dark-bronze-4: #302a27;
    --dark-bronze-5: #3b3330;
    --dark-bronze-6: #493e3a;
    --dark-bronze-7: #5a4c47;
    --dark-bronze-8: #6f5f58;
    --dark-bronze-9: #a18072;
    --dark-bronze-10: #ae8c7e;
    --dark-bronze-11: #d4b3a5;
    --dark-bronze-12: #ede0d9;
    --dark-bronze-a1: #d1110004;
    --dark-bronze-a2: #fbbc910c;
    --dark-bronze-a3: #faceb817;
    --dark-bronze-a4: #facdb622;
    --dark-bronze-a5: #ffd2c12d;
    --dark-bronze-a6: #ffd1c03c;
    --dark-bronze-a7: #fdd0c04f;
    --dark-bronze-a8: #ffd6c565;
    --dark-bronze-a9: #fec7b09b;
    --dark-bronze-a10: #fecab5a9;
    --dark-bronze-a11: #ffd7c6d1;
    --dark-bronze-a12: #fff1e9ec;
    --dark-gray-1: #111111;
    --dark-gray-2: #191919;
    --dark-gray-3: #222222;
    --dark-gray-4: #2a2a2a;
    --dark-gray-5: #313131;
    --dark-gray-6: #3a3a3a;
    --dark-gray-7: #484848;
    --dark-gray-8: #606060;
    --dark-gray-9: #6e6e6e;
    --dark-gray-10: #7b7b7b;
    --dark-gray-11: #b4b4b4;
    --dark-gray-12: #eeeeee;
    --dark-gray-a1: #00000000;
    --dark-gray-a2: #ffffff09;
    --dark-gray-a3: #ffffff12;
    --dark-gray-a4: #ffffff1b;
    --dark-gray-a5: #ffffff22;
    --dark-gray-a6: #ffffff2c;
    --dark-gray-a7: #ffffff3b;
    --dark-gray-a8: #ffffff55;
    --dark-gray-a9: #ffffff64;
    --dark-gray-a10: #ffffff72;
    --dark-gray-a11: #ffffffaf;
    --dark-gray-a12: #ffffffed;
    --dark-mauve-1: #121113;
    --dark-mauve-2: #1a191b;
    --dark-mauve-3: #232225;
    --dark-mauve-4: #2b292d;
    --dark-mauve-5: #323035;
    --dark-mauve-6: #3c393f;
    --dark-mauve-7: #49474e;
    --dark-mauve-8: #625f69;
    --dark-mauve-9: #6f6d78;
    --dark-mauve-10: #7c7a85;
    --dark-mauve-11: #b5b2bc;
    --dark-mauve-12: #eeeef0;
    --dark-mauve-a1: #00000000;
    --dark-mauve-a2: #f5f4f609;
    --dark-mauve-a3: #ebeaf814;
    --dark-mauve-a4: #eee5f81d;
    --dark-mauve-a5: #efe6fe25;
    --dark-mauve-a6: #f1e6fd30;
    --dark-mauve-a7: #eee9ff40;
    --dark-mauve-a8: #eee7ff5d;
    --dark-mauve-a9: #eae6fd6e;
    --dark-mauve-a10: #ece9fd7c;
    --dark-mauve-a11: #f5f1ffb7;
    --dark-mauve-a12: #fdfdffef;
    --dark-slate-1: #111113;
    --dark-slate-2: #18191b;
    --dark-slate-3: #212225;
    --dark-slate-4: #272a2d;
    --dark-slate-5: #2e3135;
    --dark-slate-6: #363a3f;
    --dark-slate-7: #43484e;
    --dark-slate-8: #5a6169;
    --dark-slate-9: #696e77;
    --dark-slate-10: #777b84;
    --dark-slate-11: #b0b4ba;
    --dark-slate-12: #edeef0;
    --dark-slate-a1: #00000000;
    --dark-slate-a2: #d8f4f609;
    --dark-slate-a3: #ddeaf814;
    --dark-slate-a4: #d3edf81d;
    --dark-slate-a5: #d9edfe25;
    --dark-slate-a6: #d6ebfd30;
    --dark-slate-a7: #d9edff40;
    --dark-slate-a8: #d9edff5d;
    --dark-slate-a9: #dfebfd6d;
    --dark-slate-a10: #e5edfd7b;
    --dark-slate-a11: #f1f7feb5;
    --dark-slate-a12: #fcfdffef;
    --dark-sage-1: #101211;
    --dark-sage-2: #171918;
    --dark-sage-3: #202221;
    --dark-sage-4: #272a29;
    --dark-sage-5: #2e3130;
    --dark-sage-6: #373b39;
    --dark-sage-7: #444947;
    --dark-sage-8: #5b625f;
    --dark-sage-9: #63706b;
    --dark-sage-10: #717d79;
    --dark-sage-11: #adb5b2;
    --dark-sage-12: #eceeed;
    --dark-sage-a1: #00000000;
    --dark-sage-a2: #f0f2f108;
    --dark-sage-a3: #f3f5f412;
    --dark-sage-a4: #f2fefd1a;
    --dark-sage-a5: #f1fbfa22;
    --dark-sage-a6: #edfbf42d;
    --dark-sage-a7: #edfcf73c;
    --dark-sage-a8: #ebfdf657;
    --dark-sage-a9: #dffdf266;
    --dark-sage-a10: #e5fdf674;
    --dark-sage-a11: #f4fefbb0;
    --dark-sage-a12: #fdfffeed;
    --dark-olive-1: #111210;
    --dark-olive-2: #181917;
    --dark-olive-3: #212220;
    --dark-olive-4: #282a27;
    --dark-olive-5: #2f312e;
    --dark-olive-6: #383a36;
    --dark-olive-7: #454843;
    --dark-olive-8: #5c625b;
    --dark-olive-9: #687066;
    --dark-olive-10: #767d74;
    --dark-olive-11: #afb5ad;
    --dark-olive-12: #eceeec;
    --dark-olive-a1: #00000000;
    --dark-olive-a2: #f1f2f008;
    --dark-olive-a3: #f4f5f312;
    --dark-olive-a4: #f3fef21a;
    --dark-olive-a5: #f2fbf122;
    --dark-olive-a6: #f4faed2c;
    --dark-olive-a7: #f2fced3b;
    --dark-olive-a8: #edfdeb57;
    --dark-olive-a9: #ebfde766;
    --dark-olive-a10: #f0fdec74;
    --dark-olive-a11: #f6fef4b0;
    --dark-olive-a12: #fdfffded;
    --dark-sand-1: #111110;
    --dark-sand-2: #191918;
    --dark-sand-3: #222221;
    --dark-sand-4: #2a2a28;
    --dark-sand-5: #31312e;
    --dark-sand-6: #3b3a37;
    --dark-sand-7: #494844;
    --dark-sand-8: #62605b;
    --dark-sand-9: #6f6d66;
    --dark-sand-10: #7c7b74;
    --dark-sand-11: #b5b3ad;
    --dark-sand-12: #eeeeec;
    --dark-sand-a1: #00000000;
    --dark-sand-a2: #f4f4f309;
    --dark-sand-a3: #f6f6f513;
    --dark-sand-a4: #fefef31b;
    --dark-sand-a5: #fbfbeb23;
    --dark-sand-a6: #fffaed2d;
    --dark-sand-a7: #fffbed3c;
    --dark-sand-a8: #fff9eb57;
    --dark-sand-a9: #fffae965;
    --dark-sand-a10: #fffdee73;
    --dark-sand-a11: #fffcf4b0;
    --dark-sand-a12: #fffffded;
    --dark-gray-2-translucent: #1d1d1db3;
    --dark-mauve-2-translucent: #1e1d1eb3;
    --dark-slate-2-translucent: #1b1d1eb3;
    --dark-sage-2-translucent: #1a1c1bb3;
    --dark-olive-2-translucent: #1b1c1ab3;
    --dark-sand-2-translucent: #1d1d1bb3;
    --dark-gray-surface: #21212180;
    --dark-mauve-surface: #22212380;
    --dark-slate-surface: #1f212380;
    --dark-sage-surface: #1e201f80;
    --dark-olive-surface: #1f201e80;
    --dark-sand-surface: #21212080;
    --dark-tomato-surface: #2d191580;
    --dark-red-surface: #2f151780;
    --dark-ruby-surface: #2b191d80;
    --dark-crimson-surface: #2f151f80;
    --dark-pink-surface: #31132980;
    --dark-plum-surface: #2f152f80;
    --dark-purple-surface: #2b173580;
    --dark-violet-surface: #25193980;
    --dark-iris-surface: #1d1b3980;
    --dark-indigo-surface: #171d3b80;
    --dark-blue-surface: #11213d80;
    --dark-cyan-surface: #11252d80;
    --dark-teal-surface: #13272580;
    --dark-jade-surface: #13271f80;
    --dark-green-surface: #15251d80;
    --dark-grass-surface: #19231b80;
    --dark-brown-surface: #271f1b80;
    --dark-bronze-surface: #27211d80;
    --dark-gold-surface: #25231d80;
    --dark-sky-surface: #13233b80;
    --dark-mint-surface: #15272780;
    --dark-lime-surface: #1b211580;
    --dark-yellow-surface: #231f1380;
    --dark-amber-surface: #271f1380;
    --dark-orange-surface: #271d1380;
}