:root {
    --light-tomato-1: #fffcfc;
    --light-tomato-2: #fff8f7;
    --light-tomato-3: #feebe7;
    --light-tomato-4: #ffdcd3;
    --light-tomato-5: #ffcdc2;
    --light-tomato-6: #fdbdaf;
    --light-tomato-7: #f5a898;
    --light-tomato-8: #ec8e7b;
    --light-tomato-9: #e54d2e;
    --light-tomato-10: #dd4425;
    --light-tomato-11: #d13415;
    --light-tomato-12: #5c271f;
    --light-tomato-a1: #ff000003;
    --light-tomato-a2: #ff200008;
    --light-tomato-a3: #f52b0018;
    --light-tomato-a4: #ff35002c;
    --light-tomato-a5: #ff2e003d;
    --light-tomato-a6: #f92d0050;
    --light-tomato-a7: #e7280067;
    --light-tomato-a8: #db250084;
    --light-tomato-a9: #df2600d1;
    --light-tomato-a10: #d72400da;
    --light-tomato-a11: #cd2200ea;
    --light-tomato-a12: #460900e0;
    --light-red-1: #fffcfc;
    --light-red-2: #fff7f7;
    --light-red-3: #feebec;
    --light-red-4: #ffdbdc;
    --light-red-5: #ffcdce;
    --light-red-6: #fdbdbe;
    --light-red-7: #f4a9aa;
    --light-red-8: #eb8e90;
    --light-red-9: #e5484d;
    --light-red-10: #dc3e42;
    --light-red-11: #ce2c31;
    --light-red-12: #641723;
    --light-red-a1: #ff000003;
    --light-red-a2: #ff000008;
    --light-red-a3: #f3000d14;
    --light-red-a4: #ff000824;
    --light-red-a5: #ff000632;
    --light-red-a6: #f8000442;
    --light-red-a7: #df000356;
    --light-red-a8: #d2000571;
    --light-red-a9: #db0007b7;
    --light-red-a10: #d10005c1;
    --light-red-a11: #c40006d3;
    --light-red-a12: #55000de8;
    --light-ruby-1: #fffcfd;
    --light-ruby-2: #fff7f8;
    --light-ruby-3: #feeaed;
    --light-ruby-4: #ffdce1;
    --light-ruby-5: #ffced6;
    --light-ruby-6: #f8bfc8;
    --light-ruby-7: #efacb8;
    --light-ruby-8: #e592a3;
    --light-ruby-9: #e54666;
    --light-ruby-10: #dc3b5d;
    --light-ruby-11: #ca244d;
    --light-ruby-12: #64172b;
    --light-ruby-a1: #ff005503;
    --light-ruby-a2: #ff002008;
    --light-ruby-a3: #f3002515;
    --light-ruby-a4: #ff002523;
    --light-ruby-a5: #ff002a31;
    --light-ruby-a6: #e4002440;
    --light-ruby-a7: #ce002553;
    --light-ruby-a8: #c300286d;
    --light-ruby-a9: #db002cb9;
    --light-ruby-a10: #d2002cc4;
    --light-ruby-a11: #c10030db;
    --light-ruby-a12: #550016e8;
    --light-crimson-1: #fffcfd;
    --light-crimson-2: #fef7f9;
    --light-crimson-3: #ffe9f0;
    --light-crimson-4: #fedce7;
    --light-crimson-5: #facedd;
    --light-crimson-6: #f3bed1;
    --light-crimson-7: #eaacc3;
    --light-crimson-8: #e093b2;
    --light-crimson-9: #e93d82;
    --light-crimson-10: #df3478;
    --light-crimson-11: #cb1d63;
    --light-crimson-12: #621639;
    --light-crimson-a1: #ff005503;
    --light-crimson-a2: #e0004008;
    --light-crimson-a3: #ff005216;
    --light-crimson-a4: #f8005123;
    --light-crimson-a5: #e5004f31;
    --light-crimson-a6: #d0004b41;
    --light-crimson-a7: #bf004753;
    --light-crimson-a8: #b6004a6c;
    --light-crimson-a9: #e2005bc2;
    --light-crimson-a10: #d70056cb;
    --light-crimson-a11: #c4004fe2;
    --light-crimson-a12: #530026e9;
    --light-pink-1: #fffcfe;
    --light-pink-2: #fef7fb;
    --light-pink-3: #fee9f5;
    --light-pink-4: #fbdcef;
    --light-pink-5: #f6cee7;
    --light-pink-6: #efbfdd;
    --light-pink-7: #e7acd0;
    --light-pink-8: #dd93c2;
    --light-pink-9: #d6409f;
    --light-pink-10: #cf3897;
    --light-pink-11: #c2298a;
    --light-pink-12: #651249;
    --light-pink-a1: #ff00aa03;
    --light-pink-a2: #e0008008;
    --light-pink-a3: #f4008c16;
    --light-pink-a4: #e2008b23;
    --light-pink-a5: #d1008331;
    --light-pink-a6: #c0007840;
    --light-pink-a7: #b6006f53;
    --light-pink-a8: #af006f6c;
    --light-pink-a9: #c8007fbf;
    --light-pink-a10: #c2007ac7;
    --light-pink-a11: #b60074d6;
    --light-pink-a12: #59003bed;
    --light-plum-1: #fefcff;
    --light-plum-2: #fdf7fd;
    --light-plum-3: #fbebfb;
    --light-plum-4: #f7def8;
    --light-plum-5: #f2d1f3;
    --light-plum-6: #e9c2ec;
    --light-plum-7: #deade3;
    --light-plum-8: #cf91d8;
    --light-plum-9: #ab4aba;
    --light-plum-10: #a144af;
    --light-plum-11: #953ea3;
    --light-plum-12: #53195d;
    --light-plum-a1: #aa00ff03;
    --light-plum-a2: #c000c008;
    --light-plum-a3: #cc00cc14;
    --light-plum-a4: #c200c921;
    --light-plum-a5: #b700bd2e;
    --light-plum-a6: #a400b03d;
    --light-plum-a7: #9900a852;
    --light-plum-a8: #9000a56e;
    --light-plum-a9: #89009eb5;
    --light-plum-a10: #7f0092bb;
    --light-plum-a11: #730086c1;
    --light-plum-a12: #40004be6;
    --light-purple-1: #fefcfe;
    --light-purple-2: #fbf7fe;
    --light-purple-3: #f7edfe;
    --light-purple-4: #f2e2fc;
    --light-purple-5: #ead5f9;
    --light-purple-6: #e0c4f4;
    --light-purple-7: #d1afec;
    --light-purple-8: #be93e4;
    --light-purple-9: #8e4ec6;
    --light-purple-10: #8347b9;
    --light-purple-11: #8145b5;
    --light-purple-12: #402060;
    --light-purple-a1: #aa00aa03;
    --light-purple-a2: #8000e008;
    --light-purple-a3: #8e00f112;
    --light-purple-a4: #8d00e51d;
    --light-purple-a5: #8000db2a;
    --light-purple-a6: #7a01d03b;
    --light-purple-a7: #6d00c350;
    --light-purple-a8: #6600c06c;
    --light-purple-a9: #5c00adb1;
    --light-purple-a10: #53009eb8;
    --light-purple-a11: #52009aba;
    --light-purple-a12: #250049df;
    --light-violet-1: #fdfcfe;
    --light-violet-2: #faf8ff;
    --light-violet-3: #f4f0fe;
    --light-violet-4: #ebe4ff;
    --light-violet-5: #e1d9ff;
    --light-violet-6: #d4cafe;
    --light-violet-7: #c2b5f5;
    --light-violet-8: #aa99ec;
    --light-violet-9: #6e56cf;
    --light-violet-10: #654dc4;
    --light-violet-11: #6550b9;
    --light-violet-12: #2f265f;
    --light-violet-a1: #5500aa03;
    --light-violet-a2: #4900ff07;
    --light-violet-a3: #4400ee0f;
    --light-violet-a4: #4300ff1b;
    --light-violet-a5: #3600ff26;
    --light-violet-a6: #3100fb35;
    --light-violet-a7: #2d01dd4a;
    --light-violet-a8: #2b00d066;
    --light-violet-a9: #2400b7a9;
    --light-violet-a10: #2300abb2;
    --light-violet-a11: #1f0099af;
    --light-violet-a12: #0b0043d9;
    --light-iris-1: #fdfdff;
    --light-iris-2: #f8f8ff;
    --light-iris-3: #f0f1fe;
    --light-iris-4: #e6e7ff;
    --light-iris-5: #dadcff;
    --light-iris-6: #cbcdff;
    --light-iris-7: #b8baf8;
    --light-iris-8: #9b9ef0;
    --light-iris-9: #5b5bd6;
    --light-iris-10: #5151cd;
    --light-iris-11: #5753c6;
    --light-iris-12: #272962;
    --light-iris-a1: #0000ff02;
    --light-iris-a2: #0000ff07;
    --light-iris-a3: #0011ee0f;
    --light-iris-a4: #000bff19;
    --light-iris-a5: #000eff25;
    --light-iris-a6: #000aff34;
    --light-iris-a7: #0008e647;
    --light-iris-a8: #0008d964;
    --light-iris-a9: #0000c0a4;
    --light-iris-a10: #0000b6ae;
    --light-iris-a11: #0600abac;
    --light-iris-a12: #000246d8;
    --light-indigo-1: #fdfdfe;
    --light-indigo-2: #f7f9ff;
    --light-indigo-3: #edf2fe;
    --light-indigo-4: #e1e9ff;
    --light-indigo-5: #d2deff;
    --light-indigo-6: #c1d0ff;
    --light-indigo-7: #abbdf9;
    --light-indigo-8: #8da4ef;
    --light-indigo-9: #3e63dd;
    --light-indigo-10: #3358d4;
    --light-indigo-11: #3a5bc7;
    --light-indigo-12: #1f2d5c;
    --light-indigo-a1: #00008002;
    --light-indigo-a2: #0040ff08;
    --light-indigo-a3: #0047f112;
    --light-indigo-a4: #0044ff1e;
    --light-indigo-a5: #0044ff2d;
    --light-indigo-a6: #003eff3e;
    --light-indigo-a7: #0037ed54;
    --light-indigo-a8: #0034dc72;
    --light-indigo-a9: #0031d2c1;
    --light-indigo-a10: #002ec9cc;
    --light-indigo-a11: #002bb7c5;
    --light-indigo-a12: #001046e0;
    --light-blue-1: #fbfdff;
    --light-blue-2: #f4faff;
    --light-blue-3: #e6f4fe;
    --light-blue-4: #d5efff;
    --light-blue-5: #c2e5ff;
    --light-blue-6: #acd8fc;
    --light-blue-7: #8ec8f6;
    --light-blue-8: #5eb1ef;
    --light-blue-9: #0090ff;
    --light-blue-10: #0588f0;
    --light-blue-11: #0d74ce;
    --light-blue-12: #113264;
    --light-blue-a1: #0080ff04;
    --light-blue-a2: #008cff0b;
    --light-blue-a3: #008ff519;
    --light-blue-a4: #009eff2a;
    --light-blue-a5: #0093ff3d;
    --light-blue-a6: #0088f653;
    --light-blue-a7: #0083eb71;
    --light-blue-a8: #0084e6a1;
    --light-blue-a9: #0090ff;
    --light-blue-a10: #0086f0fa;
    --light-blue-a11: #006dcbf2;
    --light-blue-a12: #002359ee;
    --light-cyan-1: #fafdfe;
    --light-cyan-2: #f2fafb;
    --light-cyan-3: #def7f9;
    --light-cyan-4: #caf1f6;
    --light-cyan-5: #b5e9f0;
    --light-cyan-6: #9ddde7;
    --light-cyan-7: #7dcedc;
    --light-cyan-8: #3db9cf;
    --light-cyan-9: #00a2c7;
    --light-cyan-10: #0797b9;
    --light-cyan-11: #107d98;
    --light-cyan-12: #0d3c48;
    --light-cyan-a1: #0099cc05;
    --light-cyan-a2: #009db10d;
    --light-cyan-a3: #00c2d121;
    --light-cyan-a4: #00bcd435;
    --light-cyan-a5: #01b4cc4a;
    --light-cyan-a6: #00a7c162;
    --light-cyan-a7: #009fbb82;
    --light-cyan-a8: #00a3c0c2;
    --light-cyan-a9: #00a2c7;
    --light-cyan-a10: #0094b7f8;
    --light-cyan-a11: #007491ef;
    --light-cyan-a12: #00323ef2;
    --light-teal-1: #fafefd;
    --light-teal-2: #f3fbf9;
    --light-teal-3: #e0f8f3;
    --light-teal-4: #ccf3ea;
    --light-teal-5: #b8eae0;
    --light-teal-6: #a1ded2;
    --light-teal-7: #83cdc1;
    --light-teal-8: #53b9ab;
    --light-teal-9: #12a594;
    --light-teal-10: #0d9b8a;
    --light-teal-11: #008573;
    --light-teal-12: #0d3d38;
    --light-teal-a1: #00cc9905;
    --light-teal-a2: #00aa800c;
    --light-teal-a3: #00c69d1f;
    --light-teal-a4: #00c39633;
    --light-teal-a5: #00b49047;
    --light-teal-a6: #00a6855e;
    --light-teal-a7: #0099807c;
    --light-teal-a8: #009783ac;
    --light-teal-a9: #009e8ced;
    --light-teal-a10: #009684f2;
    --light-teal-a11: #008573;
    --light-teal-a12: #00332df2;
    --light-jade-1: #fbfefd;
    --light-jade-2: #f4fbf7;
    --light-jade-3: #e6f7ed;
    --light-jade-4: #d6f1e3;
    --light-jade-5: #c3e9d7;
    --light-jade-6: #acdec8;
    --light-jade-7: #8bceb6;
    --light-jade-8: #56ba9f;
    --light-jade-9: #29a383;
    --light-jade-10: #26997b;
    --light-jade-11: #208368;
    --light-jade-12: #1d3b31;
    --light-jade-a1: #00c08004;
    --light-jade-a2: #00a3460b;
    --light-jade-a3: #00ae4819;
    --light-jade-a4: #00a85129;
    --light-jade-a5: #00a2553c;
    --light-jade-a6: #009a5753;
    --light-jade-a7: #00945f74;
    --light-jade-a8: #00976ea9;
    --light-jade-a9: #00916bd6;
    --light-jade-a10: #008764d9;
    --light-jade-a11: #007152df;
    --light-jade-a12: #002217e2;
    --light-green-1: #fbfefc;
    --light-green-2: #f4fbf6;
    --light-green-3: #e6f6eb;
    --light-green-4: #d6f1df;
    --light-green-5: #c4e8d1;
    --light-green-6: #adddc0;
    --light-green-7: #8eceaa;
    --light-green-8: #5bb98b;
    --light-green-9: #30a46c;
    --light-green-10: #2b9a66;
    --light-green-11: #218358;
    --light-green-12: #193b2d;
    --light-green-a1: #00c04004;
    --light-green-a2: #00a32f0b;
    --light-green-a3: #00a43319;
    --light-green-a4: #00a83829;
    --light-green-a5: #019c393b;
    --light-green-a6: #00963c52;
    --light-green-a7: #00914071;
    --light-green-a8: #00924ba4;
    --light-green-a9: #008f4acf;
    --light-green-a10: #008647d4;
    --light-green-a11: #00713fde;
    --light-green-a12: #002616e6;
    --light-grass-1: #fbfefb;
    --light-grass-2: #f5fbf5;
    --light-grass-3: #e9f6e9;
    --light-grass-4: #daf1db;
    --light-grass-5: #c9e8ca;
    --light-grass-6: #b2ddb5;
    --light-grass-7: #94ce9a;
    --light-grass-8: #65ba74;
    --light-grass-9: #46a758;
    --light-grass-10: #3e9b4f;
    --light-grass-11: #2a7e3b;
    --light-grass-12: #203c25;
    --light-grass-a1: #00c00004;
    --light-grass-a2: #0099000a;
    --light-grass-a3: #00970016;
    --light-grass-a4: #009f0725;
    --light-grass-a5: #00930536;
    --light-grass-a6: #008f0a4d;
    --light-grass-a7: #018b0f6b;
    --light-grass-a8: #008d199a;
    --light-grass-a9: #008619b9;
    --light-grass-a10: #007b17c1;
    --light-grass-a11: #006514d5;
    --light-grass-a12: #002006df;
    --light-orange-1: #fefcfb;
    --light-orange-2: #fff7ed;
    --light-orange-3: #ffefd6;
    --light-orange-4: #ffdfb5;
    --light-orange-5: #ffd19a;
    --light-orange-6: #ffc182;
    --light-orange-7: #f5ae73;
    --light-orange-8: #ec9455;
    --light-orange-9: #f76b15;
    --light-orange-10: #ef5f00;
    --light-orange-11: #cc4e00;
    --light-orange-12: #582d1d;
    --light-orange-a1: #c0400004;
    --light-orange-a2: #ff8e0012;
    --light-orange-a3: #ff9c0029;
    --light-orange-a4: #ff91014a;
    --light-orange-a5: #ff8b0065;
    --light-orange-a6: #ff81007d;
    --light-orange-a7: #ed6c008c;
    --light-orange-a8: #e35f00aa;
    --light-orange-a9: #f65e00ea;
    --light-orange-a10: #ef5f00;
    --light-orange-a11: #cc4e00;
    --light-orange-a12: #431200e2;
    --light-brown-1: #fefdfc;
    --light-brown-2: #fcf9f6;
    --light-brown-3: #f6eee7;
    --light-brown-4: #f0e4d9;
    --light-brown-5: #ebdaca;
    --light-brown-6: #e4cdb7;
    --light-brown-7: #dcbc9f;
    --light-brown-8: #cea37e;
    --light-brown-9: #ad7f58;
    --light-brown-10: #a07553;
    --light-brown-11: #815e46;
    --light-brown-12: #3e332e;
    --light-brown-a1: #aa550003;
    --light-brown-a2: #aa550009;
    --light-brown-a3: #a04b0018;
    --light-brown-a4: #9b4a0026;
    --light-brown-a5: #9f4d0035;
    --light-brown-a6: #a04e0048;
    --light-brown-a7: #a34e0060;
    --light-brown-a8: #9f4a0081;
    --light-brown-a9: #823c00a7;
    --light-brown-a10: #723300ac;
    --light-brown-a11: #522100b9;
    --light-brown-a12: #140600d1;
    --light-sky-1: #f9feff;
    --light-sky-2: #f1fafd;
    --light-sky-3: #e1f6fd;
    --light-sky-4: #d1f0fa;
    --light-sky-5: #bee7f5;
    --light-sky-6: #a9daed;
    --light-sky-7: #8dcae3;
    --light-sky-8: #60b3d7;
    --light-sky-9: #7ce2fe;
    --light-sky-10: #74daf8;
    --light-sky-11: #00749e;
    --light-sky-12: #1d3e56;
    --light-sky-a1: #00d5ff06;
    --light-sky-a2: #00a4db0e;
    --light-sky-a3: #00b3ee1e;
    --light-sky-a4: #00ace42e;
    --light-sky-a5: #00a1d841;
    --light-sky-a6: #0092ca56;
    --light-sky-a7: #0089c172;
    --light-sky-a8: #0085bf9f;
    --light-sky-a9: #00c7fe83;
    --light-sky-a10: #00bcf38b;
    --light-sky-a11: #00749e;
    --light-sky-a12: #002540e2;
    --light-mint-1: #f9fefd;
    --light-mint-2: #f2fbf9;
    --light-mint-3: #ddf9f2;
    --light-mint-4: #c8f4e9;
    --light-mint-5: #b3ecde;
    --light-mint-6: #9ce0d0;
    --light-mint-7: #7ecfbd;
    --light-mint-8: #4cbba5;
    --light-mint-9: #86ead4;
    --light-mint-10: #7de0cb;
    --light-mint-11: #027864;
    --light-mint-12: #16433c;
    --light-mint-a1: #00d5aa06;
    --light-mint-a2: #00b18a0d;
    --light-mint-a3: #00d29e22;
    --light-mint-a4: #00cc9937;
    --light-mint-a5: #00c0914c;
    --light-mint-a6: #00b08663;
    --light-mint-a7: #00a17d81;
    --light-mint-a8: #009e7fb3;
    --light-mint-a9: #00d3a579;
    --light-mint-a10: #00c39982;
    --light-mint-a11: #007763fd;
    --light-mint-a12: #00312ae9;
    --light-lime-1: #fcfdfa;
    --light-lime-2: #f8faf3;
    --light-lime-3: #eef6d6;
    --light-lime-4: #e2f0bd;
    --light-lime-5: #d3e7a6;
    --light-lime-6: #c2da91;
    --light-lime-7: #abc978;
    --light-lime-8: #8db654;
    --light-lime-9: #bdee63;
    --light-lime-10: #b0e64c;
    --light-lime-11: #5c7c2f;
    --light-lime-12: #37401c;
    --light-lime-a1: #66990005;
    --light-lime-a2: #6b95000c;
    --light-lime-a3: #96c80029;
    --light-lime-a4: #8fc60042;
    --light-lime-a5: #81bb0059;
    --light-lime-a6: #72aa006e;
    --light-lime-a7: #61990087;
    --light-lime-a8: #559200ab;
    --light-lime-a9: #93e4009c;
    --light-lime-a10: #8fdc00b3;
    --light-lime-a11: #375f00d0;
    --light-lime-a12: #1e2900e3;
    --light-yellow-1: #fdfdf9;
    --light-yellow-2: #fefce9;
    --light-yellow-3: #fffab8;
    --light-yellow-4: #fff394;
    --light-yellow-5: #ffe770;
    --light-yellow-6: #f3d768;
    --light-yellow-7: #e4c767;
    --light-yellow-8: #d5ae39;
    --light-yellow-9: #ffe629;
    --light-yellow-10: #ffdc00;
    --light-yellow-11: #9e6c00;
    --light-yellow-12: #473b1f;
    --light-yellow-a1: #aaaa0006;
    --light-yellow-a2: #f4dd0016;
    --light-yellow-a3: #ffee0047;
    --light-yellow-a4: #ffe3016b;
    --light-yellow-a5: #ffd5008f;
    --light-yellow-a6: #ebbc0097;
    --light-yellow-a7: #d2a10098;
    --light-yellow-a8: #c99700c6;
    --light-yellow-a9: #ffe100d6;
    --light-yellow-a10: #ffdc00;
    --light-yellow-a11: #9e6c00;
    --light-yellow-a12: #2e2000e0;
    --light-amber-1: #fefdfb;
    --light-amber-2: #fefbe9;
    --light-amber-3: #fff7c2;
    --light-amber-4: #ffee9c;
    --light-amber-5: #fbe577;
    --light-amber-6: #f3d673;
    --light-amber-7: #e9c162;
    --light-amber-8: #e2a336;
    --light-amber-9: #ffc53d;
    --light-amber-10: #ffba18;
    --light-amber-11: #ab6400;
    --light-amber-12: #4f3422;
    --light-amber-a1: #c0800004;
    --light-amber-a2: #f4d10016;
    --light-amber-a3: #ffde003d;
    --light-amber-a4: #ffd40063;
    --light-amber-a5: #f8cf0088;
    --light-amber-a6: #eab5008c;
    --light-amber-a7: #dc9b009d;
    --light-amber-a8: #da8a00c9;
    --light-amber-a9: #ffb300c2;
    --light-amber-a10: #ffb300e7;
    --light-amber-a11: #ab6400;
    --light-amber-a12: #341500dd;
    --light-gold-1: #fdfdfc;
    --light-gold-2: #faf9f2;
    --light-gold-3: #f2f0e7;
    --light-gold-4: #eae6db;
    --light-gold-5: #e1dccf;
    --light-gold-6: #d8d0bf;
    --light-gold-7: #cbc0aa;
    --light-gold-8: #b9a88d;
    --light-gold-9: #978365;
    --light-gold-10: #8c7a5e;
    --light-gold-11: #71624b;
    --light-gold-12: #3b352b;
    --light-gold-a1: #55550003;
    --light-gold-a2: #9d8a000d;
    --light-gold-a3: #75600018;
    --light-gold-a4: #6b4e0024;
    --light-gold-a5: #60460030;
    --light-gold-a6: #64440040;
    --light-gold-a7: #63420055;
    --light-gold-a8: #633d0072;
    --light-gold-a9: #5332009a;
    --light-gold-a10: #492d00a1;
    --light-gold-a11: #362100b4;
    --light-gold-a12: #130c00d4;
    --light-bronze-1: #fdfcfc;
    --light-bronze-2: #fdf7f5;
    --light-bronze-3: #f6edea;
    --light-bronze-4: #efe4df;
    --light-bronze-5: #e7d9d3;
    --light-bronze-6: #dfcdc5;
    --light-bronze-7: #d3bcb3;
    --light-bronze-8: #c2a499;
    --light-bronze-9: #a18072;
    --light-bronze-10: #957468;
    --light-bronze-11: #7d5e54;
    --light-bronze-12: #43302b;
    --light-bronze-a1: #55000003;
    --light-bronze-a2: #cc33000a;
    --light-bronze-a3: #92250015;
    --light-bronze-a4: #80280020;
    --light-bronze-a5: #7423002c;
    --light-bronze-a6: #7324003a;
    --light-bronze-a7: #6c1f004c;
    --light-bronze-a8: #671c0066;
    --light-bronze-a9: #551a008d;
    --light-bronze-a10: #4c150097;
    --light-bronze-a11: #3d0f00ab;
    --light-bronze-a12: #1d0600d4;
    --light-gray-1: #fcfcfc;
    --light-gray-2: #f9f9f9;
    --light-gray-3: #f0f0f0;
    --light-gray-4: #e8e8e8;
    --light-gray-5: #e0e0e0;
    --light-gray-6: #d9d9d9;
    --light-gray-7: #cecece;
    --light-gray-8: #bbbbbb;
    --light-gray-9: #8d8d8d;
    --light-gray-10: #838383;
    --light-gray-11: #646464;
    --light-gray-12: #202020;
    --light-gray-a1: #00000003;
    --light-gray-a2: #00000006;
    --light-gray-a3: #0000000f;
    --light-gray-a4: #00000017;
    --light-gray-a5: #0000001f;
    --light-gray-a6: #00000026;
    --light-gray-a7: #00000031;
    --light-gray-a8: #00000044;
    --light-gray-a9: #00000072;
    --light-gray-a10: #0000007c;
    --light-gray-a11: #0000009b;
    --light-gray-a12: #000000df;
    --light-mauve-1: #fdfcfd;
    --light-mauve-2: #faf9fb;
    --light-mauve-3: #f2eff3;
    --light-mauve-4: #eae7ec;
    --light-mauve-5: #e3dfe6;
    --light-mauve-6: #dbd8e0;
    --light-mauve-7: #d0cdd7;
    --light-mauve-8: #bcbac7;
    --light-mauve-9: #8e8c99;
    --light-mauve-10: #84828e;
    --light-mauve-11: #65636d;
    --light-mauve-12: #211f26;
    --light-mauve-a1: #55005503;
    --light-mauve-a2: #2b005506;
    --light-mauve-a3: #30004010;
    --light-mauve-a4: #20003618;
    --light-mauve-a5: #20003820;
    --light-mauve-a6: #14003527;
    --light-mauve-a7: #10003332;
    --light-mauve-a8: #08003145;
    --light-mauve-a9: #05001d73;
    --light-mauve-a10: #0500197d;
    --light-mauve-a11: #0400119c;
    --light-mauve-a12: #020008e0;
    --light-slate-1: #fcfcfd;
    --light-slate-2: #f9f9fb;
    --light-slate-3: #f0f0f3;
    --light-slate-4: #e8e8ec;
    --light-slate-5: #e0e1e6;
    --light-slate-6: #d9d9e0;
    --light-slate-7: #cdced6;
    --light-slate-8: #b9bbc6;
    --light-slate-9: #8b8d98;
    --light-slate-10: #80838d;
    --light-slate-11: #60646c;
    --light-slate-12: #1c2024;
    --light-slate-a1: #00005503;
    --light-slate-a2: #00005506;
    --light-slate-a3: #0000330f;
    --light-slate-a4: #00002d17;
    --light-slate-a5: #0009321f;
    --light-slate-a6: #00002f26;
    --light-slate-a7: #00062e32;
    --light-slate-a8: #00083046;
    --light-slate-a9: #00051d74;
    --light-slate-a10: #00071b7f;
    --light-slate-a11: #0007149f;
    --light-slate-a12: #000509e3;
    --light-sage-1: #fbfdfc;
    --light-sage-2: #f7f9f8;
    --light-sage-3: #eef1f0;
    --light-sage-4: #e6e9e8;
    --light-sage-5: #dfe2e0;
    --light-sage-6: #d7dad9;
    --light-sage-7: #cbcfcd;
    --light-sage-8: #b8bcba;
    --light-sage-9: #868e8b;
    --light-sage-10: #7c8481;
    --light-sage-11: #5f6563;
    --light-sage-12: #1a211e;
    --light-sage-a1: #00804004;
    --light-sage-a2: #00402008;
    --light-sage-a3: #002d1e11;
    --light-sage-a4: #001f1519;
    --light-sage-a5: #00180820;
    --light-sage-a6: #00140d28;
    --light-sage-a7: #00140a34;
    --light-sage-a8: #000f0847;
    --light-sage-a9: #00110b79;
    --light-sage-a10: #00100a83;
    --light-sage-a11: #000a07a0;
    --light-sage-a12: #000805e5;
    --light-olive-1: #fcfdfc;
    --light-olive-2: #f8faf8;
    --light-olive-3: #eff1ef;
    --light-olive-4: #e7e9e7;
    --light-olive-5: #dfe2df;
    --light-olive-6: #d7dad7;
    --light-olive-7: #cccfcc;
    --light-olive-8: #b9bcb8;
    --light-olive-9: #898e87;
    --light-olive-10: #7f847d;
    --light-olive-11: #60655f;
    --light-olive-12: #1d211c;
    --light-olive-a1: #00550003;
    --light-olive-a2: #00490007;
    --light-olive-a3: #00200010;
    --light-olive-a4: #00160018;
    --light-olive-a5: #00180020;
    --light-olive-a6: #00140028;
    --light-olive-a7: #000f0033;
    --light-olive-a8: #040f0047;
    --light-olive-a9: #050f0078;
    --light-olive-a10: #040e0082;
    --light-olive-a11: #020a00a0;
    --light-olive-a12: #010600e3;
    --light-sand-1: #fdfdfc;
    --light-sand-2: #f9f9f8;
    --light-sand-3: #f1f0ef;
    --light-sand-4: #e9e8e6;
    --light-sand-5: #e2e1de;
    --light-sand-6: #dad9d6;
    --light-sand-7: #cfceca;
    --light-sand-8: #bcbbb5;
    --light-sand-9: #8d8d86;
    --light-sand-10: #82827c;
    --light-sand-11: #63635e;
    --light-sand-12: #21201c;
    --light-sand-a1: #55550003;
    --light-sand-a2: #25250007;
    --light-sand-a3: #20100010;
    --light-sand-a4: #1f150019;
    --light-sand-a5: #1f180021;
    --light-sand-a6: #19130029;
    --light-sand-a7: #19140035;
    --light-sand-a8: #1915014a;
    --light-sand-a9: #0f0f0079;
    --light-sand-a10: #0c0c0083;
    --light-sand-a11: #080800a1;
    --light-sand-a12: #060500e3;
    --light-gray-surface: #ffffffcc;
    --light-mauve-surface: #ffffffcc;
    --light-slate-surface: #ffffffcc;
    --light-sage-surface: #ffffffcc;
    --light-olive-surface: #ffffffcc;
    --light-sand-surface: #ffffffcc;
    --light-tomato-surface: #fff6f5cc;
    --light-red-surface: #fff5f5cc;
    --light-ruby-surface: #fff5f6cc;
    --light-crimson-surface: #fef5f8cc;
    --light-pink-surface: #fef5facc;
    --light-plum-surface: #fdf5fdcc;
    --light-purple-surface: #faf5fecc;
    --light-violet-surface: #f9f6ffcc;
    --light-iris-surface: #f6f6ffcc;
    --light-indigo-surface: #f5f8ffcc;
    --light-blue-surface: #f1f9ffcc;
    --light-cyan-surface: #eff9facc;
    --light-teal-surface: #f0faf8cc;
    --light-jade-surface: #f1faf5cc;
    --light-green-surface: #f1faf4cc;
    --light-grass-surface: #f3faf3cc;
    --light-brown-surface: #fbf8f4cc;
    --light-bronze-surface: #fdf5f3cc;
    --light-gold-surface: #f9f8efcc;
    --light-sky-surface: #eef9fdcc;
    --light-mint-surface: #effaf8cc;
    --light-lime-surface: #f6f9f0cc;
    --light-yellow-surface: #fefbe4cc;
    --light-amber-surface: #fefae4cc;
    --light-orange-surface: #fff5e9cc;
    --background-1: #F2F4FF;
    --background-2: #FFFFFF;

    --interactive-1: #4661E6;
    --interactive-2: #AD1FEA;
    --interactive-3: #373f68;

    --borders-separators-1: #3A4374;
    --borders-separators-2: #647196;
    --borders-separators-3: #F49F85;

    --solid-1: #107d98;
    --solid-2: #0d3c48;

    --text-1: #F7F8FD;
    --text-2: #62BCFA;
}